@charset "utf-8";

body {
  background-color: skyblue;
  margin: 0;
}

h1 {
  color: blue;
}

.container {
  text-align: center;
}

.clock {
  width: 200px;
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 10px;
}
